a {
    color: white;
    text-decoration: none;
}
body {
    margin: 0;
    background-color: rgb(20, 20, 20);
    height: 200%;
}
.home {
    position: relative;
}
video {
    width: 100%;
}

.video-container::after {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* width: calc(100% - 10px); */
    width: calc(100%);
    padding: 10px 50px;
}
.header {
    display: flex;
    line-height: 50px;
}
.NETFLIX_LOGO {
    width: 120px;
    margin-right: 40px;
    vertical-align: middle;
}
#home {
    font-weight: 900;
}
#home:hover, #series:hover, #movie:hover, #trend:hover, #like:hover {
    cursor: pointer;
    opacity: 0.7;
}
.nav {
    display: flex;
    color: white;
}
.nav-item > a {
    padding: 0 10px;
    font-size: 14px;
    margin: auto;
    color: white;
}
.menu {
    display: flex;
    margin-left: auto;
    color: white;
}
.menu-item {
    display: flex;
    font-size: 18px;
    padding: 0 15px;
    margin: auto;
    vertical-align: middle;
}
.menu-item > a {
    display: flex;
}
.menu-open-icon:hover {
    transition: 0.5s;
    transform: rotate(180deg);
}
.rabbit {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin: auto;
    vertical-align: middle;
}
.menu-open-icon {
    font-size: 13px;
    padding: 0 10px;
    margin: auto;
}
.menu-item > a > div > i {
    vertical-align: middle;
}
.banner {
    color: white;
    padding: 50px 0;
}
.top10 {
    vertical-align: middle;
}
.top2msg {
    vertical-align: middle;
}
.title > img {
    width: 625px;
    height: 250px;
    /* transition: 2.0s;
    transform: scale(0.5); */
}
.title-small {
    margin-top: 250px;
    width: 312px;
    height: 125px;
}
.badge {
    font-size: 25px;
    font-weight: 900;
    padding: 15px 0;
}
.badge > img {
    width:37px;
    height: 37px;
}
.description {
    width: 40%;
    font-size: 18px;
}
.buttons {
    display: flex;
    padding: 20px 0;
}
.white-button {
    color: black;
    background-color: white;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 900;
    font-size: 18px;
}
.white-button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.gray-button {
    color: white;
    background-color: rgba(170, 170, 170, .4);
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 900;
    font-size: 18px;
    margin-left: 15px;
}
.gray-button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.extra {
    position: absolute;
    top: 530;
    right: 0;
    width: 160px;
    display: flex;
}
.replay-button {
    display: inline-block;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: auto;
    margin-right: 10px;
}
.replay-button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.mute-button {
    display: inline-block;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: auto;
    margin-right: 10px;
}
.mute-button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.rating {
    margin: auto;
    background-color: rgba(170, 170, 170, .2);
    font-size: 17px;
    border-left: 3px solid white;
    padding-left: 10px;
    width: 100%;
    line-height: 40px;
}
.category-list {
    /* position: absolute;
    top: 500px;
    left: 50px;
    width: calc(100% - 50px); */
}
.category .title {
    font-size: 22px;
    font-weight: 900;
    color: white;
    padding: 15px 0;
}
.list {
    display: flex;
    /* overflow-x: hidden; */
}
.movie {
    padding: 2px;
}
.movie:hover {
    transform: scale(1.5);
    transition: .1s;
    transition-delay: .5s;
}
.movie img {
    width: 230.13px;
    border-radius: 4px;
}